<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="templateProfesseur" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Ajouter une note</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css"
        integrity="sha384-Gs3s2mC6y7FkQA7X6UkN7BbG6bHHRN2pg2n7W9n1G/6XyH9EzD+yV8gFoo5bDvWB"
        crossorigin="anonymous">
</head>
<body>
<div class="container" layout:fragment="contentBody">
  <h1>Ajouter une note</h1>

  <form action="#" th:action="@{/ajouter-note}" method="post">
    <div class="mb-3">
      <label for="etudiantId" class="form-label">Étudiant :</label>
      <select class="form-select" id="etudiantId" name="etudiantId">
        <option value="">Sélectionner un étudiant</option>
        <option th:each="etudiant : ${etudiants}" th:value="${etudiant.id}"
                th:text="${etudiant.nom + ' ' + etudiant.prenom}"></option>
      </select>
    </div>

    <div class="mb-3">
      <label for="matiereId" class="form-label">Matière :</label>
      <select class="form-select" id="matiereId" name="matiereId">
        <option value="">Sélectionner une matière</option>
        <option th:each="matiere : ${matieres}" th:value="${matiere.idMat}" th:text="${matiere.nom}"></option>
      </select>
    </div>

    <div class="mb-3">
      <label for="Dc" class="form-label">Note Dc :</label>
      <input type="double" class="form-control" id="Dc" name="Dc" required>
    </div>

    <div class="mb-3">
      <label for="Ds" class="form-label">Note Ds :</label>
      <input type="double" class="form-control" id="Ds" name="Ds" required>
    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</div>
</body>
</html>
