<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Responsable</title>
</head>
<body>
<div class="col-md-9 container rounded bg-primary bg-opacity-50" layout:fragment="contentBody">
    <div class="container form-control bg-primary bg-opacity-50 p-3">
        <form method="post" th:action="@{/admin/save}">
            <div class="mb-3 text-center bg-success bg-opacity-50 pb-2">
                <h2>Ajouter un Responsable</h2>
            </div>
            <div class="mb-3">
                <label class="form-label">Nom</label>
                <input type="text" class="form-control" name="nom" th:value="${responsable.nom}">
                <span th:errors="${responsable.nom}" ></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Prenom</label>
                <input type="text" class="form-control" name="prenom" th:value="${responsable.prenom}">
                <span th:errors="${responsable.prenom}"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" name="email" th:value="${responsable.email}">
                <span th:errors="${responsable.email}"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="password" th:value="${appUser.password}">
                <span th:errors="${appUser.password}"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Date debut travail</label>
                <input type="date" class="form-control" name="dateDebutTravail" th:value="${responsable.dateDebutTravail}">
                <span th:errors="${responsable.dateDebutTravail}"></span>
            </div>
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example" name="role" th:value="${responsable.role}">
                    <option value="PROFESSEUR">Professeur</option>
                    <option value="CHEFDEP">ChefDep</option>
                </select>
                <span th:errors="${responsable.role}"></span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>

</div>
</body>
</html>
