<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-9 container rounded bg-primary bg-opacity-50" layout:fragment="contentBody">
    <div  class="container form-control bg-primary bg-opacity-50">
        <form method="post" th:action="@{/admin/save}">
            <div class="mb-3 text-center bg-success bg-opacity-50 pb-2">
                <h2>Ajouter un Responsable</h2>
            </div>
            <div class="mb-3">
                <label class="form-label">Nom</label>
                <input type="text" class="form-control" aria-describedby="emailHelp"  name="nom" th:value="${responsable.nom}">
                <span th:errors="${responsable.nom}"></span>
            </div>
            <div class="mb-3">
                <label for="prenom" class="form-label">Prenom</label>
                <input type="text" class="form-control" id="prenom" aria-describedby="emailHelp" name="prenom" th:value="${responsable.prenom}">
                <span th:errors="${responsable.prenom}"></span>
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label">Email</label>
                <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" name="email" th:value="${responsable.email}">
                <span th:errors="${responsable.email}"></span>
            </div>
            <div class="mb-3">
                <label for="dt" class="form-label">Date debut travail</label>
                <input type="date" class="form-control" id="dt" aria-describedby="emailHelp" name="dateDebutTravail" th:value="${responsable.dateDebutTravail}">
                <span th:errors="${responsable.dateDebutTravail}"></span>
            </div>
           <div class="mb-3">
               <select class="form-select" aria-label="Default select example" name="role" th:value="${responsable.role}">
                   <option value="PROFESSEUR">Professeur</option>
                   <option value="CHEFDEP">ChefDep</option>
               </select>
               <span th:errors="${responsable.role}"></span>
           </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>