<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-9 container rounded bg-primary bg-opacity-50" layout:fragment="contentBody">
    <div  class="container form-control bg-primary bg-opacity-50">
        <form method="post" th:action="@{/admin/saveEdit(page=${page},key=${key})}">
            <div class="mb-3 text-center bg-success bg-opacity-50 pb-2">
                <h2>Modifier Le Responsable</h2>
            </div>
            <div class="mb-3">
                <label for="id" class="form-label">ID</label>
                <label th:text="${responsable.id}"/>
                <input type="text" class="form-control visually-hidden" id="id" aria-describedby="emailHelp" name="id" th:value="${responsable.id}">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Nom</label>
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="nom" th:value="${responsable.nom}">
                <span th:errors="${responsable.nom}"></span>
            </div>
            <div class="mb-3">
                <label for="prenom" class="form-label">Prenom</label>
                <input type="text" class="form-control" id="prenom" aria-describedby="emailHelp" name="prenom" th:value="${responsable.prenom}">
                <span th:errors="${responsable.prenom}"></span>
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label">Email</label>
                <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" name="email" th:value="${responsable.email}">
                <span th:errors="${responsable.email}"></span>
            </div>
            <div class="mb-3">
                <label for="dt" class="form-label">Date Debut Travail</label>
                <input type="date" class="form-control" id="dt" aria-describedby="emailHelp" name="dateDebutTravail" th:value="${responsable.dateDebutTravail}">
                <span th:errors="${responsable.dateDebutTravail}"></span>
            </div>
            <select class="form-select" aria-label="Default select example" name="role" th:value="${responsable.role}">
                <option value="PROFESSEUR">Professeur</option>
                <option value="CHEFDEP">ChefDep</option>
            </select>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>