<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Ajouter les liens vers les fichiers CSS et JavaScript de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div layout:fragment="contentBody">
    <div class="container">
        <form method="post" th:action="@{/admin/edit(page=${page},key=${key})}">
            <div>
                <h2>Modifier Le Responsable</h2>
            </div>
            <input type="hidden" name="username" th:value="${appUser.username}"/>
            <div class="form-group">
                <label>id </label>
                <input type="text" class="form-control" aria-describedby="emailHelp" name="id" th:value="${employe.id}" readonly>
                <span th:errors="${employe.id}" ></span>
            </div>
            <div class="form-group">
                <label>Nom</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" name="nom" th:value="${employe.nom}">
                <span th:errors="${employe.nom}" ></span>
            </div>
            <div class="form-group">
                <label for="prenom">Prenom</label>
                <input type="text" class="form-control" id="prenom" aria-describedby="emailHelp" name="prenom" th:value="${employe.prenom}">
                <span th:errors="${employe.prenom}"></span>
            </div>
            <div class="form-group">
                <label for="Email" >Email</label>
                <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" name="email" th:value="${employe.email}">
                <span th:errors="${employe.email}"></span>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" aria-describedby="emailHelp" name="password" th:value="${appUser.password}">
                <span th:errors="${appUser.password}"></span>
            </div>
            <div class="form-group">
                <label for="dt">Date debut travail</label>
                <input type="date" class="form-control" id="dt" aria-describedby="emailHelp" name="dateDebutTravail" th:value="${employe.dateDebutTravail}">
                <span th:errors="${employe.dateDebutTravail}"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Departement:</label>
                <select name="departement" class="form-control">
                    <option th:value="${null}">--Please select a department--</option>
                    <option th:each="departement : ${departements}"
                            th:value="${departement.iddep}"
                            th:text="${departement.nom}"
                            th:selected="${departement.iddep == selectedDepartement}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Matiere:</label>
                <select name="matiere" class="form-control">
                    <option th:value="${null}">--Please select a matiere--</option>
                    <option th:each="matiere : ${matieres}"
                            th:value="${matiere.idMat}"
                            th:text="${matiere.nom}"
                            th:selected="${matiere.idMat == selectedMatiere}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Classe :</label>
                <select name="classe" class="form-control">
                    <option th:value="${null}">--Please select a classe--</option>
                    <option th:each="classe : ${classes}"
                            th:value="${classe.idClas}"
                            th:text="${classe.nom}"
                            th:selected="${classe.idClas == selectedClasse}">
                    </option>
                </select>
            </div>
            <input type="hidden" name="rolename" th:value="${employe.role}"/>
            <div class="form-group">
                <label class="col-form-label">Role</label>
                <select class="form-control" name="role" th:field="${employe.role}">
                    <option value="PROFESSEUR" th:selected="${employe.role == 'PROFESSEUR'}">Professeur</option>
                    <option value="CHEFDEP" th:selected="${employe.role == 'CHEFDEP'}">ChefDep</option>
                </select>
                <span th:errors="${employe.role}" class="text-danger"></span>
            </div>



            <div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>