<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css"
          integrity="sha384-Gs3s2mC6y7FkQA7X6UkN7BbG6bHHRN2pg2n7W9n1G/6XyH9EzD+yV8gFoo5bDvWB"
          crossorigin="anonymous">
</head>
<body>
<div class="container mt-5" layout:fragment="contentBody">
    <form class="form-inline mb-3" method="get" th:action="@{/admin/home}">
        <div class="form-group mx-sm-3 mb-2">
            <input type="search" class="form-control" placeholder="Search" aria-label="Search" name="key" th:value="${key}">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Date début travail</th>
            <th>Role</th>
            <th>Département</th>
            <th>Matiere</th>
            <th>Classe</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r:${pages}">
            <td th:text="${r.id}"></td>
            <td th:text="${r.nom}"></td>
            <td th:text="${r.prenom}"></td>
            <td th:text="${r.email}"></td>
            <td th:text="${r.dateDebutTravail}"></td>
            <td th:text="${r.role}"></td>
            <td>
                <ul>
                    <li th:each="departement : ${r.departements}" th:text="${departement.nom}"></li>
                </ul>
            </td>

            <td>
                <ul>
                    <li th:each="matiere : ${r.matieres}" th:text="${matiere.nom}"></li>
                </ul>
            </td>

            <td>
                <ul>
                    <li th:each="classe : ${r.classes}" th:text="${classe.nom}"></li>
                </ul>
            </td>


            <td>
                <a class="btn btn-danger btn-sm" th:href="@{/admin/delete(id=${r.id},page=${pageCurrent},key=${key})}" sec:authorize="hasAuthority('ADMIN')">Delete</a>
                <a class="btn btn-info btn-sm" th:href="@{/admin/edit(id=${r.id},page=${pageCurrent},key=${key})}" sec:authorize="hasAuthority('ADMIN')">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:each="int,status:${nbrPages}">
                <a class="page-link" th:class="${status.index==pageCurrent?'active':''}" th:text="${status.index}" th:href="@{home(page=${status.index},key=${key})}"></a>
            </li>
        </ul>
    </nav>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
</body>
